<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
     <a href='http://localhost/LoveLetter/web/app_dev.php/DebutManche?id_partie={{idPartie}}'
    <h1>Joueur {{joueur}} a perdu car {{ test }}!</h1>
     </a>
  </body>
</html>
