{% extends "LoveLetterPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}
 <a href='http://localhost/LoveLetter/web/app_dev.php/accueil'
        <center>
         <h1>Joueur {{joueur}} a gagner!</h1>
        </center>
     </a>
{% endblock %}
