{% extends "LoveLetterPlatformBundle::layoutJeu.html.twig" %}

{% block LoveLetterplatform_body %}

  <h1>Bientot le jeu ici</h1>

  <ul>
    {{id}}
    <center> <img src={{url}} alt="" width="211" height="300"/>
    <img src={{url2}} alt="" width="211" height="300"/></center> 
  </ul>

{% endblock %}
