{% extends "LoveLetterPlatformBundle::layoutJeu.html.twig" %}

{% block LoveLetterplatform_body %}
<a href='http://localhost/LoveLetter/web/app_dev.php/TestFin?id_manche={{id}}&nb_joueur={{joueur}}'>
    <table>
 <tr><th>Cliquez un fois que c'est bon</th></tr>
 <tr><img src={{carte.url}} alt="" width="211" height="300" /></tr>
   </table>
</a>
{% endblock %}
