<center><h1>Creation Compte</h1></center>
    <center>
    <form action="{{ path('LoveLetter_platform_add') }}" method="post">
       {{form(form)}}
       <input type="submit" />
    </form></center>
