
    <center><h1>Creation Compte</h1></center>
    <center>
    <form action=>
       <li>Pseudo :{{form(form.pseudo)}}</li>
       <li>Mots de passe :{{form(form.mdp)}}</li>
       <input type="submit" />
    </form></center>
