{% extends "LoveLetterPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <h1>Combien de joueur voulez vous dans cette partie</h1>
  
    <table>
        <tr>
            <th><center>2 Joueur</center></th>
            <th><center>3 Joueur</center></th>
            <th><center>4 Joueur</center></th>
        </tr>
         <tr>
            <th>
                <a href="LancementPartie/PasEuLeTempsDeFaireChoisirLeNom/2" >
                <img src=http://static.mnium.org/images/contenu/actus/HearthStone/Dos_de_cartes/Hearthstone_dos_de_cartes_saison_22.png  alt="" width="211" height="300" />
                </a>    
            </th>
            <th>
                 <a href="LancementPartie/PasEuLeTempsDeFaireChoisirLeNom/3" >
                <img src=http://static.mnium.org/images/contenu/actus/HearthStone/Dos_de_cartes/Hearthstone_dos_de_cartes_saison_22.png  alt="" width="211" height="300" />
                </a>
            </th>
            <th>
                 <a href="LancementPartie/PasEuLeTempsDeFaireChoisirLeNom/4" >
                <img src=http://static.mnium.org/images/contenu/actus/HearthStone/Dos_de_cartes/Hearthstone_dos_de_cartes_saison_22.png  alt="" width="211" height="300" />
                 </a>
            </th>
        </tr>
        </table>
{% endblock %}