<html>
<head>
  <meta charset="utf-8">
    <title>{% block title %}LoveLetter{% endblock %}</title>
</head>

<body  style="background-color:#FFEFD5;">
<center>
{% block LoveLetterplatform_body %}
{% endblock %}
</center>
<div id="update"></div>
</body>
</html>
<script type="text/javascript">
 	setInterval(function(){
		$.ajax({
			url: "verify.php",
			method: 'post',
			data: {id: 2, user: 1}
		})
		.done(function(data){
			console.log(data);
			$('#update').html(data);
		});
 	}, 500);
</script>